<h1><%= t('rename_religion')%></h1>

<%= bootstrap_form_for @confession, url: confession_path(@confession), method: :patch do |f| %>
    <%= f.alert_message t('fix_errors') %>
    <%= f.text_field :name, label: t('name').capitalize %>
    <%= f.submit t('rename') %>
<% end %>
