<h1><%= t('add_confession') %></h1>
<%= bootstrap_form_for @confession, url: confessions_path do |f| %>
    <%= f.alert_message t('fix_errors') %>
    <%= f.text_field :name, label: t('name').capitalize %>
    <%= f.submit t('submit') %>
<% end %>
