<%= bootstrap_form_for setup_student(@student) do |f| %>
    <%= f.alert_message t('fix_errors') %>
    <%= f.text_field :forename, label: t('forename').capitalize %>
    <%= f.text_field :surname, label: t('surname').capitalize %>
    <%= f.collection_radio_buttons :sex, Student.sexes, :first, :first %>
    <%= f.date_select :birth_date, {label: t('birth_date').capitalize, :start_year => Date.today().year - 25, :end_year => Date.today().year} %>
    <%= f.text_field :birth_place, label: t('birth_place').capitalize %>
    <%= f.text_field :birth_act_number, label: t('birth_act_number').capitalize %>
    <%= f.text_area :address, label: t('address').capitalize %>
    <%= f.collection_select :confession_id, Confession.order(:name).all, :id, :name, label: t('confession').capitalize %>
    <%= f.collection_select :tribe_id, Tribe.order(:name).all, :id, :name, label: t('tribe').capitalize %>

      <label><%= t("handicaps").capitalize %></label>
      <%= f.fields_for :student_handicaps do |ff| %>
          <% logger.info ff.object.pretty_print_inspect %>
          <%= ff.check_box :_destroy, {:checked => ff.object.persisted?, label: ff.object.handicap.name}, '0', '1' %>
          <%= ff.hidden_field :handicap_id %>
      <% end %>


      <%= f.collection_select :mother_id, Adult.where(sex: :femelle).order(:surname).all, :id, :short_presentation, {label: t('mother').capitalize, :include_blank => true} %>
      <%= f.collection_select :father_id, Adult.where(sex: :mâle).order(:surname).all, :id, :short_presentation, {label: t('father').capitalize, :include_blank => true} %>
      <%= f.collection_select :guardian_id, Adult.order(:surname).all, :id, :short_presentation, {label: t('guardian').capitalize, :include_blank => true} %>


    <%= f.submit t('submit') %>

<% end %>
