<h1><%= t('register_student') %></h1>


<%= form_for @student, url: {action: "create"} do |f| %>

  <div class="form-group">
    <label for="student_forename"><%= t('forename').capitalize %></label>
    <%= f.text_field :forename, { :class => "form-control" } %>
  </div>
  <div class="form-group">
    <label for="student_surname"><%= t('surname').capitalize %></label>
    <%= f.text_field :forename, { :class => "form-control" } %>
  </div>


<!--
t.string   "forename"
    t.string   "surname"
    t.integer  "sex"
    t.date     "birth_date"
    t.string   "birth_place"
    t.integer  "confession_id"
    t.integer  "tribe_id"
    t.integer  "father_id"
    t.integer  "mother_id"
    t.integer  "guardian_id"
    t.string   "address"
    t.datetime "archived_at"
    t.string   "archiving_reason"
    t.datetime "created_at",       null: false
    t.datetime "updated_at",       null: false
    t.index ["confession_id"], name: "index_students_on_confession_id", using: :btree
    t.index ["tribe_id"], name: "index_students_on_tribe_id", using: :btree
  f.text_area :body, size: "60x12"
-->


  <%= f.submit t('submit'), { :class => "btn btn-default" } %>
<% end %>

<br/>
<br/>
<br/>

<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block">Example block-level help text here.</p>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Check me out
    </label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
