<%= image_tag @student.photo.url(:medium), :class => "img_medium" %>
<h2><%= @student.forename %> <%= @student.surname %></h2>
<p>
  <%= link_to t('edit'), edit_student_path(@student), { :class => "btn btn-info", "role" => "button" } %>
  <%= link_to t('delete'), student_path(@student), { method: :delete, data: {:confirm => t('are_you_sure_delete')}, :class => "btn btn-danger", "role" => "button" } %>
</p>
<h4 class="clean_margin"><%= t('details').capitalize %></h4>
<p>
<table class="table table-hover">
  <tbody>
  <tr>
    <td><%= t('sex').capitalize %></td>
    <th scope="row"><%= @student.sex %></th>
  </tr>
  <tr>
    <td><%= t('birth_date').capitalize %></td>
    <th scope="row"><%= @student.birth_date %></th>
  </tr>
  <tr>
    <td><%= t('birth_place').capitalize %></td>
    <th scope="row"><%= @student.birth_place %></th>
  </tr>
  <tr>
    <td><%= t('confession').capitalize %></td>
    <th scope="row"><%= @student.confession.name %></th>
  </tr>
  <tr>
    <td><%= t('tribe').capitalize %></td>
    <th scope="row"><%= @student.tribe.name %></th>
  </tr>
  <tr>
    <td><%= t('handicaps').capitalize %></td>
    <th scope="row">
      <%= (@student.handicaps.map {|hcp| hcp.name }).join(", ") %>
    </th>
  </tr>
  <tr>
    <td><%= t('birth_act_number').capitalize %></td>
    <th scope="row"><%= @student.birth_act_number %></th>
  </tr>
  <tr>
    <td><%= t('address').capitalize %></td>
    <th scope="row"><%= @student.address %></th>
  </tr>
  <% if not @student.mother_id.nil? %>
  <tr>
    <td><%= t('mother').capitalize %></td>
    <th scope="row">
      <%= @student.mother&.short_presentation %>
      <%= link_to t('more_details'), adult_path(@student.mother), { :class => "btn btn-md btn-link", "role" => "button" } %>
    </th>
  </tr>
  <% end %>
  <% if not @student.father_id.nil? %>
  <tr>
    <td><%= t('father').capitalize %></td>
    <th scope="row">
      <%= @student.father&.short_presentation %>
      <%= link_to t('more_details'), adult_path(@student.father), { :class => "btn btn-md btn-link", "role" => "button" } %>
    </th>
  </tr>
  <% end %>
  <% if not @student.guardian_id.nil? %>
  <tr>
    <td><%= t('guardian').capitalize %></td>
    <th scope="row">
      <%= @student.guardian&.short_presentation %>
      <%= link_to t('more_details'), adult_path(@student.guardian), { :class => "btn btn-md btn-link", "role" => "button" } %>
    </th>
  </tr>
  <% end %>
  <tr>
    <td><%= t('date_of_creation').capitalize %></td>
    <th scope="row"><%= @student.created_at %></th>
  </tr>
  <tr>
    <td><%= t('date_of_update').capitalize %></td>
    <th scope="row"><%= @student.updated_at %></th>
  </tr>
  <tr>
    <td><%= t('date_of_archiving').capitalize %></td>
    <th scope="row"><%= @student.archived_at %></th>
  </tr>
  </tbody>
</table>
</p>
