<h1><%= t('tribes').capitalize %></h1>
<% if not flash[:error].blank? %>
    <div class="alert alert-danger"><%= flash[:error] %></div>
<% end %>
<p>
  <%= link_to t('add_tribe'), new_tribe_path, { :class => "btn btn-lg btn-primary", "role" => "button" } %>
</p>
<% if @tribes.any? %>
    <br/>
    <p>
    <table class="table table-hover">
      <thead>
      <tr>
        <th><%= t('name').capitalize %></th>
        <th><%= t('action') %></th>
      </tr>
      </thead>
      <tbody>
      <% @tribes.each do |tribe| %>
          <tr>
            <td><%= tribe.name %></td>
            <td>
              <%= link_to t('rename'), edit_tribe_path(tribe), { :class => "btn btn-md btn-link", "role" => "button" } %>
              <%= link_to t('delete'), tribe_path(tribe), method: :delete, data: { :confirm => t('are_you_sure_delete')}, :class => "btn btn-md btn-link", "role" => "button" %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
    </p>
<% end %>
