<h1><%= t('add_tribe') %></h1>
<%= bootstrap_form_for @tribe, url: tribes_path do |f| %>
    <%= f.alert_message t('fix_errors') %>
    <%= f.text_field :name, label: t('name').capitalize %>
    <%= f.submit t('submit') %>
<% end %>
