<h1><%= t('rename_handicap')%></h1>

<%= bootstrap_form_for @handicap, url: handicap_path(@handicap), method: :patch do |f| %>
    <%= f.alert_message t('fix_errors') %>
    <%= f.text_field :name, label: t('name').capitalize %>
    <%= f.submit t('rename') %>
<% end %>
