<!DOCTYPE html>
<html>
  <head>
    <title><%= t 'project_name' %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


<body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to t('project_name'), school_welcome_path, :class => "navbar-brand" %><!--<a class="navbar-brand" href="#"><%= t 'project_name' %></a>-->
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

<!-- TODO: do li dodaj class="active" 
            <li><a href="#"><%= t 'home' %></a></li> 
            <li><a href="#about"><%= t 'students' %></a></li>
            <li><a href="#contact"><%= t 'classes' %></a></li>-->
<!-- przyklad dropdowna-->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= t 'students' %> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to t('all_students'), students_path %></li>
                <li><%= link_to t('add_student'), new_student_path %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to t('all_adults'), adults_path %></li>
                <li><%= link_to t('add_adult'), new_adult_path %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to t('confessions').capitalize, confessions_path %></li>
                <li><%= link_to t('handicaps').capitalize, handicaps_path %></li>
                <li><%= link_to t('tribes').capitalize, tribes_path %></li>
<!--
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>

                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
-->
              </ul>
            </li>

          </ul>
<!-- tutaj login i logout
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../navbar/">Default</a></li>
            <li><a href="../navbar-static-top/">Static top</a></li>
            <li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>
          </ul>
-->
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div> <!-- /container -->

</html>
